{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="align-items-center" id="div_chart_pie"></div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"> </script>
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart_pie') }}
    </script>
{% endblock %}