{% extends 'back1.html.twig' %}

{% block title %}mes voitures{% endblock %}

{% block body %}
    <h1>Modifier  une location</h1>

    {{ include('locationv/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('locationv_index') }}"> <label class="badge badge-info"> back to list </label></a>

    {{ include('locationv/_delete_form.html.twig') }}
{% endblock %}
