{% extends 'base2.html.twig' %}

{% block title %}New Reservationesc{% endblock %}

{% block body %}

    <h1>Effectuez une reservation: </h1>
    {{ include('reservationesc/_form.html.twig') }}

{% endblock %}
