{% extends 'base.html.twig' %}

{% block title %}mes voitures{% endblock %}

{% block body %}
    <h1>Cree une voiture</h1>

    {{ include('voiture/_form.html.twig') }}

    <a href="{{ path('voiture_index') }}"> <label class="badge badge-info">  back to list </label></a>
{% endblock %}
